<footer class="large-12 columns site-footer">
  <div class="border-top"></div>
  <div class="footer-menu large-3 columns">
    Connect with Sphero
    <ul class="sub-menu social clear">
      <li><a class="twitter" href="https://twitter.com/intent/follow?screen_name=sphero" target="blank"></a></li>
      <li><a class="facebook" href="http://www.facebook.com/GoSphero" target="blank"></a></li>
      <li><a class="instagram" href="http://instagram.com/gosphero" target="blank"></a></li>
      <li><a class="pinterest" href="http://pinterest.com/sphero/pins/" target="blank"></a></li>
      <li><a class="youtube" href="http://www.youtube.com/gosphero" target="blank"></a></li>
    </ul>
  </div>

  <div class="footer-menu large-2 columns">
    Products
    <ul class="sub-menu">
      <li><a href="http://www.sphero.com/sphero-2-0/">Sphero</a></li>
      <li><a href="http://www.sphero.com/ollie/">Ollie</a></li>
      <li><a href="http://www.sphero.com/retail-partners/">Retail Partners</a></li>
    </ul>
  </div>

  <div class="footer-menu large-2 columns">
    Company
    <ul class="sub-menu">
      <li><a href="http://www.sphero.com/company/">About Us</a></li>
      <li><a href="http://www.sphero.com/company/contact/">Contact Us</a></li>
      <li><a href="http://www.sphero.com/company/jobs/">Jobs</a></li>
      <li><a href="http://www.sphero.com/company/press-kit/">Press Kit</a></li>
    </ul>
  </div>

  <div class="footer-menu large-2 columns">
    Other Stuff
    <ul class="sub-menu">
      <li><a href="http://www.sphero.com/c">Compatible Devices</a></li>
      <li><a href="https://sdk.sphero.com/">Developers</a></li>
      <li><a href="http://www.sphero.com/blog/">Blog</a></li>
      <li><a href="http://community.sphero.com/">Community</a></li>
    </ul>
  </div>

  <div class="footer-menu support-contact large-3 columns">
    <a class="footer-button" href="https://sphero.zendesk.com/home">Support</a>
    <div class="vcard">
      <span><a class="email" href="mailto:info@sphero.com">info@sphero.com</a></span>
      <span><a class="tel" href="tel:+13035029466">+1 (303) 502-9466</a></span>
      <span class="hours">Mon-Fri 8am-6pm MST</span>
    </div>
  </div>

  <div class="large-12 columns site-info">
    <div class="large-6 columns left">
      <span>© {{formatDate date "%Y"}} Sphero</span>
      <span class="divider">·</span>
      <span>All Rights Reserved</span>
    </div>
    <div class="large-3 columns right">
      <span><a href="http://www.sphero.com/returns-and-warranty/">Returns &amp; Warranty</a></span>
      <span class="divider">·</span>
      <span><a href="http://www.sphero.com/privacy/">Privacy &amp; Terms</a></span>
    </div>
  </div>
</footer>
