<ul class="nav nav-pills" style="list-style-type: none; margin-left: 10px;">
  <li role="presentation" class="active"><a href="/getting-started-ide">IDE Setup</a></li>
  <li role="presentation"><a href="/getting-started-project">Project Setup</a></li>
  <li role="presentation"><a href="/getting-started-connection">Connection</a></li>
  <li role="presentation"><a href="/getting-started-basiccommands">Basic Commands</a></li>
</ul>
<ul class="nav nav-pills" style="list-style-type: none; margin-left: 10px; margin-top: 10px">
  <li role="presentation" class="active"><a href="/getting-started?language=objc">Objective-C</a></li>
  <li role="presentation"><a href="/getting-started?language=swift">Swift</a></li>
  <li role="presentation"><a href="/getting-started?language=android">Android</a></li>
</ul>
