<ul>
  <li class="level-0">Sphero Robot Basics</li>
    <ul>
      {{#withSort pages "data.order"}}
          {{#is data.section "Sphero Robot Basics"}}
          <li class="level-1"><a href="/sphero-robot-basics/{{basename}}">{{data.title}}</a></li>
            {{#if data.subsections.length}}
              <ul>
                {{#each data.subsections}}
                  <li class="level-2"><a href="#{{../basename}}-{{slugify .}}">{{.}}</a></li>
                {{/each}}
              </ul>
            {{/if}}
          {{/is}}
      {{/withSort}}
    </ul>
  
  <li class="level-0">Robot Languages</li>
    <ul>
      {{#withSort pages "data.order"}}
        {{#is data.section "SPRK - EDU"}}
          <li class="level-1"><a href="/robot-languages/{{basename}}">{{data.title}}</a></li>
            {{#if data.subsections.length}}
              <ul>
                {{#each data.subsections}}
                <li class="level-2"><a href="/robot-languages/{{../basename}}">{{.}}</a></li>
                {{/each}}
              </ul>
            {{/if}}
        {{/is}}
      {{/withSort}}
    </ul>
  
  <li class="level-0">Official SDKs</li>
    <ul>
      {{#withSort pages "data.order"}}
        {{#is data.section "SDK Documentation"}}
          <li class="level-1"><a href="/sdk-documentation/{{basename}}">{{data.title}}</a></li>
          {{#if data.subsections.length}}
            <ul>
              {{#each data.subsections}}
                <li class="level-2"><a href="/sdk-documentation/{{../basename}}">{{.}}</a></li>
              {{/each}}
            </ul>
          {{/if}}
        {{/is}}
      {{/withSort}}
    </ul>
    
    <li class="level-0">Community APIs</li>
      <ul>
      {{#withSort pages "data.order"}}
        {{#is data.section "Community APIs"}}
          <li class="level-1"><a href="/community-apis/{{basename}}">{{data.title}}</a></li>
        {{/is}}
      {{/withSort}}
    </ul>
  <li class="level-0">API Reference</li>
    <ul>
      {{#withSort pages "data.order"}}
        {{#is data.section "API Reference"}}
        <li class="level-1"><a href="/api-reference/{{basename}}">{{data.title}}</a></li>
          {{#if data.subsections.length}}
            <ul>
              {{#each data.subsections}}
                <li class="level-2"><a href="/api-reference/{{../basename}}">{{.}}</a></li>
              {{/each}}
            </ul>
          {{/if}}
        {{/is}}
      {{/withSort}}
    </ul>
</ul>
