footer.site-footer {
  background-color: #9DA6AE;
  bottom: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 2em;
  position: relative;

  .site-info {
    clear: both;
    color: #fff;
    font-size: 12px;
    font-weight: 100;
    text-align: left;
    span {margin-right: 0.9em}
  }
}
