body .content > ul.language-picker {
  list-style: none;
  width: auto;
  height: auto;
  position: relative;
  padding: 0;
  float: right;
  background-color: black;
  min-height: 33px;

  li {
    list-style: none;
    &:before {
      display: none;
    }
  }
}

@media (max-width: 1180px) {
  top: 0;
}

.language {
  display: inline;
  height: 33px;

  .button {
    min-width: 90px;
    text-align: center;
    border-radius: 0;
    margin-right: 0;
    min-height: 33px;
    background-color: black;
    border: none;
    padding: 0 10px;

    &:first-child {
      padding-top: 6px;
    }

    &:hover {
      cursor: pointer;
    }

    &.active {
      background-color: @sphero-blue;

      &:hover {
        background-color: @sphero-blue;
      }
    }
  }
}
