#logo {
  display: block;
  height: 64px;
  padding: 10px;
}

header.navigation {
  .geometric-background;
  font-family: 'Raleway', sans-serif;
  height: 100px;
  padding: 1.75em 1em 1em !important;
  position: relative;
  z-index: 1;

  a {
    display: inline-block;
    font-size: 1.125em;
    margin-right: 1em;
    vertical-align: middle;
  }

  .left-side {
    position: relative;
    top: -1.25em;

    a {margin-top: 0.3em}

    @media (max-width: 480px) {text-align: center}
  }

  .right-side {
    position: relative;
    top: -70px;

    @media (max-width: 540px) {display: none}

    .home-button {
      background: #ffffff;
      border-radius: 0.25em;
      display: inline-block;
      float: right;
      margin-right: 0.45em;
      padding: 0.15em 0.15em 0.15em 1.15em;
      margin-top: 3px;

      .ion-arrow-left-c, .ion-ios7-cart-outline {
        color: #0693c9;
        margin-right: 0.25em;
        vertical-align: middle;
      }
    }

    .edit-button {float: right}
  }
}
