body.static {.geometric-background}

.static {
  font-family: 'Raleway', sans-serif;
  padding: 0;

  section {
    min-height: 54em; // set min-height on static pages so content is always above the fold

    .hero-text {
      text-align: center;

      h3 {font-size: 3em; text-transform: uppercase; color: #0693c9;}
      p {font-size: 1.5em}
    }

    .product-selector {
      margin: 5em auto;
      text-align: center;
      width: 100%;

      .sphero-selector {
        clear: both;
        float: left;
        width: 325px;

        &:before {
          background: url("../images/sphero-product-logo.png") no-repeat center center;
          content: "";
          padding: 4em;
        }
      }

      .ollie-selector {
        float: right;
        width: 370px;

        @media (max-width: 480px) {padding-top: 5em}

        &:before {
          background: url("../images/ollie-product-logo.png") no-repeat center center;
          content: "";
          padding: 3em;
        }
      }

      a {display: inline-block}

      a.sphero {
        background: url("../images/sphero.png") no-repeat center center;
        height: 213px;
        width: 215px;
      }

      a.ollie {
        background: url("../images/ollie.png") no-repeat center center;
        height: 215px;
        width: 287px;
      }
    }
  }
}
