<div role="flatdoc-content" class="content">
<link href="{{assets}}/css/style.css" rel="stylesheet">
<script src="{{assets}}/js/jquery-styling.js"></script>
<script src="{{assets}}/js/prettify.js"></script>
{{#markdown}}
{{> body}}
{{/markdown}}
</div>
<script src="{{assets}}/js/docs.js"></script>